.main{
    text-align: center;
    border: 2px solid;
    margin: 20px;
    border-radius: 30px;
    padding: 30px;
}
.header{
    height: 150px;
    font-size: larger;
}
p{
    margin: 30px;
}
.header p,.date p{
    opacity: 0.5;
}
.section{
    display: flex;
    justify-content: center;
    font-size: large;
}
.date{
    width: 300px;
    text-align: right;

}
.line{
    width: 40px;
    height: 356px;
    /* border: 2px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
}
img{
    height: 421px;
    /* border: 2px solid; */
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 20px;

}
.goal{
    width: 500px;
    text-align: left;
    
}
.submit{
    margin-top: 40px;
    display: flex;
    justify-content: center;
}
button{
    height: 40px;
    padding: 10px;
    background-color: black;
    color: white;
    border-radius: 10px;
}